body{
    margin: 0px;
}

#page-header{
    height: 150px;
    background-color: #ce161c;
}

#header-img {
    height: 100px;
    padding-left: 30px;
    padding-top: 25px;
}

.contentForBalloon{
    display: none;
    padding: 20px;
}

.opener {
    cursor: pointer;
    position:relative;
    margin: auto;
    clear: both
}

.spms-button {
    height: 45px;
    font-size: 15px;
    font-family: Rockwell;
    color: #fff;
    text-align: center;
    background: #ce161c;
    cursor: pointer;
    float: right;
    border-radius: 5px;
    outline:0;
    border: 0;
    margin: 2px;
}

.DTFC_RightWrapper {
    display: none;
}

div.dataTables_wrapper {
    width: 800px;
    margin: 0 auto;
}

.non-transparent-white{
    background-color: white;
}

.title-underline-hr {
    width: 70%;
    margin-bottom: 35px;
}

.logout {
    font-family: Rockwell;
    color: white;
    horiz-align: right;
}

.highlight {
    background-color: salmon !important;
}