#monitoring-table_wrapper{
    width: 90%;
    margin: auto;
}

th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 800px;
    margin: 0 auto;
}

.non-transparent-white{
    background-color: white;
}
