#monitoring-table_wrapper{
    width: 90%;
    margin: auto;
}

.planning-period-starter {
    display: flow-root;
    margin-right: 25px;
    margin-top: 10px;
}

.left-bordered-cell {
    border-left: 0.5px solid rgba(0, 0, 0, 0.75);
}

