.comment-section {
    width: 50%;
    margin-left: 5.25%;

}

#planning-table_wrapper{
    width: 90%;
    margin: auto;
}

.choose-sales-field {
    width: 300px;
    height: 45px;
    font-family: Rockwell;
    font-size: 15px;
}

.choose-sales-text {
    font-family: Rockwell;
    font-size: 15px;
    padding-top: 10px;
}

.choose-sales-div {
    margin-bottom: 30px;
}

.planning-table-input-cell:valid {
    color: green;
}
.planning-table-input-cell:invalid {
    color: red;
}