<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/css/tablesStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/adminPage.css">

    <script type="text/javascript" charset="utf8" src="/libs/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/adminPage.js"></script>

    <script>
        $(document).ready(function() {
            $('#admin-user-listing-table').DataTable(
                {
                    columnDefs: [
                        {
                            orderable: false, targets: [3]
                        }
                    ]
                }
            );

            $("#close-user-modify-form-modal").click(function () {
                $("#user-modify-form-modal").css("display", "none");
            })
        } );
    </script>

</head>
<body>
    <header th:insert="pageHeader.html :: header"></header>

    <div align="center">
        <H1><span th:text="ADMINISTRATION"></span></H1>
    </div>

    <hr class="title-underline-hr">

    <div align="center">
        <H2>MANAGE USERS</H2>
    </div>

   <table id="admin-user-listing-table"  class="stripe row-border order-column" style="width:100%">
       <thead>
           <tr>
               <th >name</th>
               <th >agent code</th>
               <th >type</th>
               <th>edit</th>
           </tr>
       </thead>
       <tbody admin-user-listing-table-body>
           <tr th:each="user : ${users}" th:id="'user-table-row-'+${user.id}"
               th:classappend="${#strings.isEmpty(user.password)} ? highlight">

               <td th:text="${user.userName}"></td>
               <td th:text="${user.agentCode}"></td>
               <td th:text="${user.role.name}"></td>
               <td>
                   <button th:if="${user.role.name != T(hu.elte.szakdolgozat.spms.model.entity.spms.Role.RoleName).SALES}"
                           class="spms-button"
                           th:onclick="'deleteUser(' + ${user.id} + ')'">
                       delete
                   </button>
                   <button class="spms-button"
                           th:onclick="'openEditUserDialog(' + ${user.id} + ',\'' + ${user.userName} + '\')'">
                       edit
                   </button>
               </td>
           </tr>
       </tbody>
   </table>

    <hr class="admin-page-underline-hr">

    <div align="center">
        <H2>CREATE USER</H2>
    </div>

    <div class="user-adding-form">
        <div>
            <div class="add-user-text" style="font-weight:bold">Name</div>
            <input id="add-user-name" class="add-user-field" type="text" name="user" placeholder="user" th:required="required"/>
        </div>
        <div>
            <div class="add-user-text" style="font-weight:bold">User type</div>
            <select class="add-user-field" id="add-user-role-name">
                <option th:each="roleName : ${roleNames}" th:value="${roleName}" th:text="${roleName}"></option>
            </select>
        </div>
        <div>
            <div class="add-user-text" style="font-weight:bold">Password</div>
            <input id="add-user-password" class="add-user-field" type="password" name="password" placeholder="password"/>
        </div>
        <input class="add-user-button" type="submit" value="ADD" onclick="createUser()"/>
    </div>

    <!--modify user popup-->
    <div id="user-modify-form-modal" class="user-modify-form-modal">
        <div class="modal-content">
            <span id="close-user-modify-form-modal" class="close">&times;</span>
            <div class="modal-content-form">
                <div>
                    <div class="add-user-text" style="font-weight:bold">Name</div>
                    <input id="modify-user-name" class="add-user-field" type="text" name="user" placeholder="user" th:required="required"/>
                </div>
                <div>
                    <div class="add-user-text" style="font-weight:bold">Password</div>
                    <input id="modify-user-password" class="add-user-field" type="password" name="password" placeholder="password"/>
                </div>
                <div>
                    <div class="add-user-text" style="font-weight:bold">Confirm password</div>
                    <input id="modify-user-password-confirm" class="add-user-field" type="password" name="password" placeholder="password"/>
                </div>

                <div id="pass-not-match-msg" class="pass-not-match-msg">Password does not match!</div>

                <input class="add-user-button" type="submit" value="Save" onclick="saveUser()"/>
            </div>
        </div>
    </div>
</body>
</html>