<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">

</head>
<body>
    <header th:insert="pageHeader.html :: header"></header>

    <form class="login-form" th:action="@{/login}" method="post">
        <h1 class="login-page-title">Login</h1>
        <input class="login-input" type="text" name="username" placeholder="Username" autofocusautofocus/>
        <input class="login-input" type="password" name="password" placeholder="Password"/>
        <input type="submit" class="login-button" value="Sign In"/>
    </form>

        <div class="msg" th:if="${param.error}">
            Invalid username or password.
        </div>
        <div class="msg" th:if="${param.logout}">
            You have been logged out.
        </div>

</body>
</html>