<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Monitoring</title>
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/tablesStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/monitoringPage.css">

    <script type="text/javascript" charset="utf8" src="/libs/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/planningStarter.js"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            $('#monitoring-table').DataTable(
                {
                    scrollX: true,
                    fixedColumns: {
                        leftColumns: 1
                    }
                }
            );
        });
    </script>
</head>
<body>
    <header th:insert="pageHeader.html :: header"></header>

    <div sec:authorize="hasRole('ROLE_CEO')"
         class="planning-period-starter">
        <button class="spms-button" onclick="startPlanning()"> Start new planning period </button>
    </div>

    <div align="center">
        <H1>Monitoring</H1>
    </div>

    <hr class="title-underline-hr">

    <table id="monitoring-table" class="stripe row-border order-column" style="width:100%">
        <thead>
            <tr>
                <th class="non-transparent-white" th:if="${monitoringPageViewModel.headerTitles.size() == 49}">
                    &nbsp;
                </th>
                <th class="non-transparent-white" colspan="2" th:if="${monitoringPageViewModel.headerTitles.size() == 50}">
                    &nbsp;
                </th>
                <th class="cell-border" colspan="4" th:each="month : ${monitoringPageViewModel.headerMonths}" th:text="${month}"></th>
            </tr>
            <tr>
                <th th:each="title, iter : ${monitoringPageViewModel.headerTitles}"
                    th:classappend="${iter.first} ? non-transparent-white" th:text="${title}"></th>
            </tr>
        </thead>
        <tbody>
           <tr th:each="row : ${monitoringPageViewModel.rows}">
               <td th:text="${row.companyName}"></td>
               <td th:if="${monitoringPageViewModel.headerTitles.size() == 50}" th:text="${row.personName}"></td>
               <th:block th:each="value : ${row.columnValues}">
                   <td class="left-bordered-cell" th:text="${value.actualAmount}"></td>
                   <td th:text="${value.plannedAmount}"></td>
                   <td th:text="${value.percentDone}"></td>
                   <td th:text="${value.percentOfTimeGone}"></td>
               </th:block>
           </tr>

        </tbody>
        <tfoot>

            <tr>
                <th th:each="title, iter : ${monitoringPageViewModel.headerTitles}"
                    th:classappend="${iter.first} ? non-transparent-white" th:text="${title}"></th>
            </tr>
        </tfoot>
    </table>
</body>
</html>