<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Monitoring</title>
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/monitoringPage.css">

    <script type="text/javascript" charset="utf8" src="/libs/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/dataTables.fixedColumns.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#monitoring-table').DataTable(
                {
                    scrollX: true,
                    fixedColumns: {
                        leftColumns: 2
                    },
                     columnDefs: [
                         { orderable: false, targets: [2,3,4,5,6,7,8,9,10,
                                 11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,
                                 30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49] }
                     ]
                }
            );
        });
    </script>
</head>
<body>
    <header th:insert="pageHeader.html :: header"></header>

    <div align="center">
        <H1><span th:text="Monitoring"></span></H1>
    </div>

    <table id="monitoring-table" class="stripe row-border order-column" style="width:100%">
        <thead>
            <tr>
                <th rowspan="2" class="non-transparent-white">Company</th>
                <th rowspan="2" class="non-transparent-white">Sales person</th>
                <th colspan="4">jan</th>
                <th colspan="4">feb</th>
                <th colspan="4">mar</th>
                <th colspan="4">apr</th>
                <th colspan="4">may</th>
                <th colspan="4">jun</th>
                <th colspan="4">jul</th>
                <th colspan="4">aug</th>
                <th colspan="4">sep</th>
                <th colspan="4">okt</th>
                <th colspan="4">nov</th>
                <th colspan="4">dec</th>
            </tr>
            <tr>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>cégnév</td>
                <td>embernév</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>cégnév</td>
                <td>embernév</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>cégnév</td>
                <td>embernév</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>cégnév</td>
                <td>embernév</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
                <td>100000ft</td>
                <td>50000ft</td>
                <td>10%</td>
                <td>50%</td>
            </tr>
        </tbody>
        <tfoot>

            <tr>
                <th class="non-transparent-white">Company</th>
                <th class="non-transparent-white">Person</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
                <th>Plnned</th>
                <th>Actual</th>
                <th>Time spent %</th>
                <th>Difference %</th>
            </tr>
        </tfoot>
    </table>
</body>
</html>