<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Planning</title>
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/tablesStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/planningPage.css">
    <link href="css/mb.balloon.css" rel="stylesheet">

    <script type="text/javascript" charset="utf8" src="/libs/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/jquery.mb.balloon.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/planningTableButtonAction.js"></script>


    <script>
        jQuery.balloon.init();

        $(document).ready(function () {
            $('#planning-table').DataTable(
                {
                    scrollX: true,
                    scrollY: false,
                    fixedColumns: {
                        leftColumns: 1
                    },
                    columnDefs: [
                        {
                            orderable: false, targets: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                                11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
                        }
                    ]
                }
            );

            $(function () {
                $('.planning-table-input-cell').keypress(function (e) {
                    // allowed char: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, .
                    var allow_char = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 190, 46];
                    if (allow_char.indexOf(e.which) !== -1) {
                        //do something
                    }
                    else {
                        return false;
                    }
                });
            });
        });
    </script>
</head>
<body>
    <header th:insert="pageHeader.html :: header"></header>


    <div align="center">
        <H1><span th:text="${planningPageViewModel.title}"></span></H1>
    </div>
    <hr class="title-underline-hr">

    <div class="choose-sales-div" sec:authorize="hasRole('ROLE_CONTROLLER')" align="center">
        <form action="#" th:action="@{/planningPage}" method="get">
            <div class="choose-sales-text" style="font-weight:bold">Choose a sales person:</div>
            <select class="choose-sales-field" name="userIdForPlan" onchange="this.form.submit()">
                <option th:each="user : ${planningPageViewModel.getSalesUserList()}"
                        th:value="${user.id}"
                        th:text="${user.userName}"
                th:selected="${user.id == planningPageViewModel.selectedUser.id}"></option>
            </select>
        </form>
    </div>

    <table id="planning-table" class="stripe row-border order-column" style="width:100%">
        <thead>
            <tr>
                <th rowspan="2" class="non-transparent-white">Company</th>
                <th colspan="2" th:each="month : ${planningPageViewModel.headerMonths}" th:text="${month}"></th>
            </tr>
            <tr>
                <th th:each="year : ${planningPageViewModel.headerYears}" th:text="${year}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="row,rowIterStat : ${planningPageViewModel.planningTableRowList}">
                <td th:each="cell,cellIterStat : ${row}" th:classappend="${cellIterStat.first} ? headCol">
                    <input class="planning-table-input-cell" type="text" onpaste="return false"
                           pattern="^[0-9]*[.]?[0-9]+$" th:if="${cell.editable}" th:attr="value=${cell.content},
                         data-planid=${cell.planId},
                         data-companyid=${cell.companyId},
                         data-planpercompanyid=${cell.planPerCompanyId},
                         data-month=${cell.month.name()}"/>
                    <div th:unless="${cell.editable}"
                         th:classappend="${not #lists.isEmpty(cell.details)} ? opener"
                         data-addclose="true"
                         data-bgcolor="#ce161c"
                         th:attr="onclick=${not #lists.isEmpty(cell.details)} ? '$(this).showBalloon(event,{balloon:$(\'#prev-year-details-balloon'
                            + ${rowIterStat.index} + ${cellIterStat.index} + '\')})'"
                         th:inline="text">
                        [[${cell.content}]]
                        <span th:if="${not #lists.isEmpty(cell.details)}"
                              th:attr="id='prev-year-details-balloon' + ${rowIterStat.index} + ${cellIterStat.index}"
                              class="contentForBalloon">
                            <p th:each="detail : ${cell.details}" th:text="${detail}"/>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th class="non-transparent-white">Company</th>
                <th th:each="year : ${planningPageViewModel.headerYears}" th:text="${year}"></th>
            </tr>
        </tfoot>

    </table>

    <div class="planning-table-buttons-div">
        <button class="spms-button" sec:authorize="hasRole('ROLE_CONTROLLER')"
                th:onclick="'setPlanStatus(' + ${planningPageViewModel.planId} + ', \'ACCEPTED\')'"> Accept
        </button>
        <button class="spms-button" sec:authorize="hasRole('ROLE_CONTROLLER')"
                th:onclick="'setPlanStatus(' + ${planningPageViewModel.planId} + ', \'AT_SALES_FOR_EDIT\')'"> Send back
            to sales
        </button>
        <button class="spms-button" sec:authorize="hasRole('ROLE_SALES')"
                th:onclick="'setPlanStatus(' + ${planningPageViewModel.planId} + ', \'AT_CONTROLLING\')'"> Send to
            controlling
        </button>
        <button class="spms-button" onclick="savePlan()"> Save</button>
    </div>

    <div class="comment-section">
        <h3>Comments:</h3>
        <hr>
        <div th:each="comment : ${planningPageViewModel.comments}" >
            <p th:text="${comment.nameFrom} + ': '"></p>
            <p th:text="${comment.text}"></p>
            <hr>
        </div>


    </div>

    <div class="comment-section" sec:authorize="hasRole('ROLE_CONTROLLER')">
        <h3>Add a comment:</h3>
        <hr>
        <textarea id="commentArea" rows="8" cols="80" name="comment" placeholder="Enter your comment here..."></textarea>
        <button class="spms-button" th:onclick="'addComment('+ ${planningPageViewModel.planId} + ')'"> Add comment</button>
    </div>

</body>
</html>