<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Planning</title>
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/planningPage.css">
    <link href="css/mb.balloon.css" rel="stylesheet">

    <script type="text/javascript" charset="utf8" src="/libs/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/jquery.mb.balloon.js"></script>


    <script>
        jQuery.balloon.init();

        $(document).ready(function () {
            $('#planning-table').DataTable(
                {
                    scrollX: true,
                    fixedColumns: {
                        leftColumns: 1
                    },
                    columnDefs: [
                        {
                            orderable: false, targets: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                                11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
                        }
                    ]
                }
            );
        });
    </script>
</head>
<body>
    <header th:insert="pageHeader.html :: header"></header>

    <div align="center">
        <H1><span th:text="${planningPageViewModel.title}"></span></H1>
    </div>

    <table id="planning-table" class="stripe row-border order-column" style="width:100%">
        <thead>
            <tr>
                <th rowspan="2" class="non-transparent-white">Company</th>
                <th colspan="2" th:each="month : ${planningPageViewModel.headerMonths}" th:text="${month}"></th>
            </tr>
            <tr>
                <th th:each="year : ${planningPageViewModel.headerYears}" th:text="${year}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="row,rowIterStat : ${planningPageViewModel.planningTableRow}">
                <td th:each="cell,cellIterStat : ${row}" th:classappend="${cellIterStat.first} ? headCol">
                    <input type="text" th:if="${cell.editable}" th:attr="value=${cell.content}"/>
                    <div class="opener" th:unless="${cell.editable}"
                         data-addclose="true"
                         data-bgcolor="#ce161c"
                         th:attr="onclick='$(this).showBalloon(event,{balloon:$(\'#prev-year-details-balloon'
                            + ${rowIterStat.index} + ${cellIterStat.index} + '\')})'"
                         th:inline="text">
                        [[${cell.content}]]
                        <span th:if="${not #lists.isEmpty(cell.details)}"
                              th:attr="id='prev-year-details-balloon' + ${rowIterStat.index} + ${cellIterStat.index}"
                              class="contentForBalloon">
                            <p th:each="detail : ${cell.details}" th:text="${detail}"/>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th class="non-transparent-white">Company</th>
                <th th:each="year : ${planningPageViewModel.headerYears}" th:text="${year}"></th>
            </tr>
        </tfoot>
    </table>
</body>
</html>