<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Statistics </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/statisticsPage.css">


    <script type="text/javascript" charset="utf8" src="/libs/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/gchart-loader.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" src="/libs/statisticsPage.js"></script>
    <script th:inline="javascript">

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Plan status type', 'Quantity per status'],
                [(${statisticPageChartModel.toArrayString()})]

            ]);
            var options = {
                'backgroundColor': 'transparent',
                'title':'Sales plans status diagram',
                'width':800,
                'height':600,
                'colors': ['#ce161c', '#AAEF00', '#ff990a', '#F9F600']};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

    </script>

    <script>
        $( function() {
            $( "#datepicker-from" ).datepicker({
                dateFormat: "yy-mm-dd"
            });
            $( "#datepicker-from" ).datepicker('setDate', -30);
            $( "#datepicker-to" ).datepicker({
                dateFormat: "yy-mm-dd"
            });
            $( "#datepicker-to" ).datepicker('setDate', 'today');
        } );

    </script>

<body>
    <header th:insert="pageHeader.html :: header"></header>

    <div align="center">
        <H1>Planning statistics</H1>
    </div>
    <hr class="title-underline-hr">

    <div class="date-refresher-form">
        <p id="from-date-picker">From: <input type="text" id="datepicker-from"></p>
        <p>To: <input type="text" id="datepicker-to"></p>
        <button class="spms-button" onclick="refreshOfficeData()"> Refresh </button>
    </div>

    <div align="right" class="monitorting-period-starter">
        <button class="spms-button" onclick="startMonitoring()"> Start monitoring period </button>
    </div>

    <div id="piechart" align="center"></div>



</body>
</html>